body {
    margin: 0;
    font-family: sans-serif;
}

.table-container {
    display: grid;
    place-items: center;
    height: 100vh;
}

table {
    border-spacing: 0px;
    border-spacing: .25rem;
}

tr {
    height: 2rem;
}

th, td {
    width: 4rem;
    border: 1px solid black;
    border-radius: 4px;
    text-align: center;
    box-shadow: 3px 3px 3px gray;
}

.canceled {
    background-color: red;
}

.empty {
    border: none;
    background-color: none;
    box-shadow: none;
}